.git
.codegraph
.local
**/node_modules
**/dist
**/target
**/.pytest_cache
**/__pycache__
**/.venv
**/.vendor
**/*.pyc
SGCC-project/**/*.csv
SGCC-project/**/*.7z
SGCC-project/**/*.zip
SGCC-project/**/*.tar
SGCC-project/**/*.gz
SGCC-project/**/*.xlsx
SGCC-project/**/*.xls
